.navbar {

  margin: 0 auto;
  padding-top: 30px;
  position: fixed;
  top: 0;
  mix-blend-mode: exclusion;
}



.body {
    
background-color: white;
    
}

.firstRow {
    
    margin-top: 150px;
}


.img {
    
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.halfRow {
    
    margin-top: -400px;
}

.otherRow {
    
    margin-top: 5px;
}

.inRow{
    
    margin-top: 25px;
}
a {
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
}


.projectName {
    
    position: relative;
    margin-top: 15px;
}

.projects {
    position: relative;
}

.projects .overlay {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    
    transition: all ease-in-out 0.3s;
   
}

.projects:hover .overlay {
    opacity: 1;
}

#bottom {
    
position: fixed;
bottom: 0px;
left: 30px;

}

.parallaxDea {

  background-image: url("assets/Intro_Solitudini_Prima.gif");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallaxDegen {

  background-image: url("assets/DEGEN_VISUAL_LOOP.gif");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



.parallaxCafe {

  background-image: url("assets/CAFE_MULLER_SITO.gif");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallaxSbarau {

  background-image: url("assets/SBARAU_2.gif");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


@media only screen and (max-device-width: 1366px) {
  .parallaxDegen {
    background-attachment: scroll;
  }
