.navbar {

  margin: 0 auto;
  padding-top: 30px;
  position: fixed;
  top: 0;
mix-blend-mode: exclusion;
}



.body {
    
background-color: white;
    
}

.firstRow {
    
    margin-top: 150px;
}


.img {
    
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.halfRow {
    
    margin-top: -400px;
}

.otherRow {
    
    margin-top: 5px;
}
     
a {
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
}

.projectName {
    
    position: relative;
    margin-top: 15px;
}

.projects {
    position: relative;
}

.projects .overlay {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    
    transition: all ease-in-out 0.3s;
   
}

.projects:hover .overlay {
    opacity: 1;
}

#bottom {
    
position: fixed;
bottom: 0px;
left: 30px;

}

.parallax {
  /* The image used */
  background-image: url("assets/DEGEN_VISUAL_LOOP.gif");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


