

.navbar {

    margin: 0 auto;
    padding-top: 30px;
    position: fixed;
    top: 0;
    mix-blend-mode: exclusion;

    
}



body {
    
    background-color: black;
    
    
}


.firstRow {
    
    margin-top: 150px;
}


.img {
    
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.halfRow {
    
    margin-top: -400px;
}

.otherRow {
    
    margin-top: 5px;
}

.inRow{
    
    margin-top: 25px;
}

a {
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
}

p {
    

}
.projectName {
    
    position: relative;
    margin-top: 15px;
}

.projects {
    position: relative;
}

.projects .overlay {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    
    transition: all ease-in-out 0.3s;
   
}

.projects:hover .overlay {
    opacity: 1;
}

#bottom {
    
position: fixed;
bottom: 0px;
left: 30px;

}

.parallaxAbout {

  background-image: url("assets/BR%C3%9CCKE_LOGO_ICON.png");
  min-height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallaxDea {

  background-image: url("assets/Intro_Controllo_Prima.gif");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallaxDegen {

  background-image: url("assets/DEGEN_VISUAL_LOOP.gif");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallaxCafe {

  background-image: url("assets/CAFE_MULLER_SITO.gif");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallaxSbarau {

  background-image: url("assets/SBARAU_2.gif");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallaxCazzarola {

  background-image: url("assets/CAZZAROLA_2.gif"); 
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallaxSpazio {

  background-image: url("assets/spazio11.png"); 
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

element.style {
    background-color: transparent;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url(assets/u_alfa.svg);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: transparent;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

